html
  head
    title= title
    link(rel="stylesheet", href="index.css")
   
  body
    h1(class= "headingclass") Kenziegram
     
    form(action="/upload", method="post", enctype="multipart/form-data") 
        div
            label(for="myfile") Select a file to upload
            input(type="file", name="myfile", id="myfile")
            button(type="submit") Upload
            br
            br
        div(id="imagesdiv")    
          if images != null
              each image in images
                  img(src=image, class='galleria')
                  br
    //- input(type="hidden", name="timestamp", id="timestamp" value=timestamp)
    script(src="main.js")
    script tstamp= #{after}
    
        
    
        