html
head 
title Upload Image
link(rel="stylesheet", href="index.css") 
body
  h1(class="headingclass") Kenziegram
  p File sucessfully uploaded!
  a(href="/home") Go Back
  br
  img(src=image, class="galleria")